<section id="about" class="about">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12 col-md-offset-0 text-left"> -->
      <div class="col-md-12 text-left">
        <h2>About me</h2>

        <p>I am a Dual Degree student in the Electrical Engineering department at Indian Institute of Technology, Bombay. I'm broadly interested in the fields of Machine Learning, Image processing, Computer Vision, Multimodal models. Apart from my academic pursuits, I like to spend my time visiting new places, sleeping or developing any application that could help the community or just automate my work!
        </p>
      </div>
    </div>
  </div>
</section>
<!--  -->