<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->

        <p>I am a Dual Deagree student in the Electrical Engineering department at Indian Institute of Technology, Bombay. I'm broadly interested in the fields of Machine Learning, Image processing, Computer Vision, Multimodal models. Apart from my academic pursuits, I like to spend my time visiting new places, sleeping or developing any application that could help the community or just automate my work!
        </p>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
