<header id="top" class="header">
  <div class="text-vertical-center">
  	<img class="circularImage" style="max-width: 230px; height: auto; " src="img/kcm4.jpg" />

    <h1>Khushhall</h1>
    <h3>Hi, I am Khushhall. Dual Degree student at IIT-Bombay</h3>

	<div id = "icons">
    <a href="mailto:khushhall@iitb.ac.in" target="_blank" > <i class="fa fa-envelope fa-3x"></i> </a>
    <a href = "https://www.linkedin.com/in/khushhall-chandra-62099a88" target = "blank"><i class = "fa fa-linkedin fa-3x"></i></a>
    <a href = "https://github.com/khushhallchandra" target = "blank"><i class = "fa fa-github fa-4x"></i></a>
    <a href = "https://www.facebook.com/khushhall.chandra" target = "_blank_"><i class = "fa fa-facebook fa-3x"></i></a>
    <a href = "https://www.instagram.com/khushhallchandra/" target = "_blank_"><i class = "fa fa-instagram fa-3x"></i></a>
	</div>

    <br>
    <!-- <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
  </div>
</header>