<header id="top" class="header">
  <div class="text-vertical-center">
  	<img class="circularImage" style="max-width: 150px; height: auto; " src="img/kcm.jpg" />

    <h1>Khushhall</h1>
    <h3>Hi, I am Khushhall. Dual Degree student at IIT-Bombay</h3>

	<div id = "icons">
    <a href = "resources/kcm_resume.pdf" target="_blank_"><img src = "resources/cv.png" style = "height:1.5em; opacity: 0.95; vertical-align: -0.15em;"/></a>
    <a href = "https://github.com/khushhallchandra" target = "blank"><i class = "fa fa-github"></i></a>
    <a href = "https://www.linkedin.com/pub/amldfan-kar/b6/185/262" target = "blank"><i class = "fa fa-linkedin"></i></a>
    <a href = "https://plus.google.com/+AdgfmlanKar/" target = "_blank_"><i class = "fa fa-google-plus"></i></a>
    <a href = "https://www.facebook.com/profile.php?id=100001180063334" target = "_blank_"><i class = "fa fa-facebook"></i></a>
    <a href = "https://www.flickr.com/photos/124486773@N04/" target = "_blank_"><i class = "fa fa-flickr"></i></a>
</div>

    <br>
    <!-- <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
  </div>
</header>
