    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <span class="badge lazy"><smaller>Welcome!</smaller></span>
          <br>欢迎你来关注我的世界！<br>
          <a href="{{ site.baseurl }}{{ post.url }}">
          <!--  <button type="button" class="btn btn-default showcase-button">Read More</button> -->
          </a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
